.input-field-container {
    padding: 0;
    margin: auto;    
    position: relative;
}

.input-field {
    padding: 0.625rem;
    border-radius: 0.5rem;    

    border: solid rgb(243, 243, 245) 0.125rem;
    
    color: rgb(10, 22, 59, 0.60);    
    outline: none;
    
    font-family: 'Source Sans Pro', sans-serif;
    min-width: 19rem;    
    padding-right: 34px;
}
.input-field:focus {    
    border: solid rgb(184, 199, 250) 0.125rem;
    color: rgb(10, 22, 59, 0.8);    
}

.input-field:hover {
    color: rgb(193, 196, 205);    
    border: solid rgb(201, 213, 251) 0.125rem;
}

.input-field::placeholder {
    color: rgb(140, 145, 162, 0.70);            
}
