.temperaturecard-container {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;    

    /*border: solid orange 2px;    */    
}

.temperaturecard-container-size {
    height: 74px;
    width: 68px;
    padding: 8px;
    margin: 0.5rem;
}

.temperaturecard-title {
    flex-grow: 1;
    text-align: center;
    /*color: rgb(81,101, 124);*/
    color: rgb(81,101, 123);
    font-family: 'Roboto Condensed', sans-serif;    
    text-transform: uppercase;    
}

.temperaturecard-title-size {
    font-size: 14px;        
}

.temperaturecard-temperature {
    flex-grow: 3;
    color: white;
    text-align: center;
    /*font-family: 'Source Sans Pro', sans-serif;*/
    font-family: 'Roboto Condensed', sans-serif;    
    padding: 0px;   
    margin: 0px;
    display: flex;    
    justify-content: center;
    align-items: flex-start;    

    flex-direction: row;    

}
.temperaturecard-temperature-size {
    letter-spacing: -1px;
    font-size: 18px;  
}


.temperaturecard-temperature-number {
    display: block;    
    align-self: stretch;
    margin-right: 0px;
    padding-right: 0px;
    
}

.temperaturecard-temperature-number-size {
    font-size: 32px;        
}

.temperaturecard-degreeletter {
    align-self: flex-start;    
    display: block;    

    margin-left: 0px;
    padding-left: 0px;
}

.temperaturecard-degreeletter-size {
    margin-top: 0.375em;
    font-size: 12px;    
}